<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> <!--bootstrap cdn-->
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet"> //google font




		<title>The Onion News Scrape</title>
	</head>
	<body>

<nav class="navbar fixed-top navbar-dark bg-primary">
  <a class="navbar-brand" href="#!">The Onion News Scraper</a>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4 class="display-4">The Onion News Scraper</h4>
    <p class="lead">This is a News Scraper utilizing mongoDB, mongooseJS and Express Handlebars
        to bring you the latest fake news and hilarity. Should you wish to leave a comment on any story please do so!</p>
{{!-- <button type="button" class="btn btn-info" id='scrape'>Scrape</button> --}}
        
  </div>

  
</div>


{{{body}}}


    
    
    
    
    
    
    
    
    </body>

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  {{!-- <script src="app.js"></script> --}}

    </html>

